<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/static/js/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<style type="text/css">
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html, body {
  background: white;
}
.header_top {
  background: #FF6699;
  width: 100%;
  height: 10px;
}
.header{
  background: white;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
}
.header .title {
    width: 69%;
    text-align: left;
    float: left;
    padding: 25px;
    position: relative;
  }
.header .image_logo {
    width: 29%;
    height: 92px;
    float: right;
    text-align: right;
    position: relative;
  }
.top_line {
  width: 100%;
  height: 2px;
  background: #EEEEEE;
}
.middle {
  width: 1000px;
  height: 1500px;
  text-align: center;
  background: white;
  margin: 0 auto;


}
.middle .image {
    height: 10px;
    width: 100%;
    background: #F6F6F6;
    border: 1px solid #EEEEEE;
}

.middle .footer {
    background: #EEEEEE;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    bottom: 1px;
    border: 1px solid #EEEEEE;
}


.all_parameter {
    background: white;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 2px solid #EEEEEE;
    padding-bottom: 50px;
}
.input_data input{
    width: 75px;
    padding: 2px;
    border: 1px solid #d0ad9a;
    background: white;
}
.input_data select{
    width: 85px;
    padding: 2px;
    border: 1px solid #d0ad9a;
    background: white;
}
.input_data{
    width: 840px;
    margin: 0 auto;
}
.male {
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background: #FFF5EC;
    border: 2px solid #FFCCCC;

}
.female {
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background: #FFF5EC;
    border: 2px solid #FFCCCC;
}
.start_test {
    height: auto;
    margin: 0 auto;
    background: white;
}
.sex_man{
    width: 60px;
    height: auto;
    text-align: center;
    padding: 5px;
    background: #FFF5EC;
}
.sex_women{
    width: 60px;
    height: auto;
    text-align: center;
    padding: 5px;
    background: #FFF5EC;
}
.surname_m {

    height: auto;
    padding: 5px;
    background: #FFF5EC;
}
.zodiac_m {

    height: auto;

    padding: 5px;
    background: #FFF5EC;
}
.month_m {

    height: auto;
    padding: 5px;
    background: #FFF5EC;
}
.constellation_m {

    height: auto;
    padding: 5px;
    background: #FFF5EC;
}

.sex_women{
    width: 60px;
    height: 30px;
    text-align: center;
    padding: 5px;
    background: #FFF5EC;
}
.surname_f {
    width: 60px;
    height: auto;
    padding: 5px;
    background: #FFF5EC;
}
.zodiac_f {
    width: 60px;
    height: auto;

    padding: 5px;
    background: #FFF5EC;
}
.month_f {
    width: 60px;
    height: auto;
    padding: 5px;
    background: #FFF5EC;
}
.constellation_f {
    width: 60px;
    height: auto;
    padding: 5px;
    background: #FFF5EC;
}

.res {
    width: 794px;
    margin: 0 auto;
    background: white;
}
.res_header {
    text-align: left;
    margin: 10px;
}
.friendly_score {
    margin: 10px;
    text-align: left;
}
.love_score {
    text-align: left;
    margin: 10px;
}
.marriage_score {
    text-align: left;
    margin: 10px;
}
.family_score {
    text-align: left;
    margin: 10px;
}
.content {
    text-align: center;
    margin: 10px;
}
</style>
<body>
    <div id="app">
        <div class="header_top"></div>
        <div class="header_top_left"></div>
        <div class="header_top_right"></div>
        <div class="header">
          <div class="title">
            <h1>寻找有缘人</h1>
          </div>
          <div class="image_logo">
          </div>
        </div>
        <div class="top_line"></div>
        <div class="all">
          <div class="middle">
            <div class="image"></div>
                <div class="all_parameter">
                    <div class="input_data">
                        <div class="container" style="margin: 10px">
                            <form method="post">
                                <!--                男-->
                                <div class="male row">
                                    <div class="sex_man col-md-1">男生</div>
                                    <div class="surname_m col-md-3">
                                        <input type="text" class="" placeholder="姓氏"
                                        name="surname_m" required="required">
                                        <input type="text" class="" placeholder="名字"
                                        name="person_name_m" required="required">
                                    </div>
                                    <div class="zodiac_m col-md-2">
                                        <select class="" name="zodiac_m">
                                            <option value="属鼠">&nbsp;属鼠</option>
                                            <option value="属牛">&nbsp;属牛</option>
                                            <option value="属虎">&nbsp;属虎</option>
                                            <option value="属兔">&nbsp;属兔</option>
                                            <option value="属龙">&nbsp;属龙</option>
                                            <option value="属蛇">&nbsp;属蛇</option>
                                            <option value="属马">&nbsp;属马</option>
                                            <option value="属羊">&nbsp;属羊</option>
                                            <option value="属猴">&nbsp;属猴</option>
                                            <option value="属鸡">&nbsp;属鸡</option>
                                            <option value="属狗">&nbsp;属狗</option>
                                            <option value="属猪">&nbsp;属猪</option>
                                        </select>
                                    </div>
                                    <div class="month_m col-md-3">
                                        <select class="" name="month_m">
                                            <option value="1月">&nbsp;1月</option>
                                            <option value="2月">&nbsp;2月</option>
                                            <option value="3月">&nbsp;3月</option>
                                            <option value="4月">&nbsp;4月</option>
                                            <option value="5月">&nbsp;5月</option>
                                            <option value="6月">&nbsp;6月</option>
                                            <option value="7月">&nbsp;7月</option>
                                            <option value="8月">&nbsp;8月</option>
                                            <option value="9月">&nbsp;9月</option>
                                            <option value="10月">&nbsp;10月</option>
                                            <option value="11月">&nbsp;11月</option>
                                            <option value="12月">&nbsp;12月</option>
                                        </select>
                                        <select name="day_m">
                                            <option value="1日">&nbsp;1日</option>
                                            <option value="2日">&nbsp;2日</option>
                                            <option value="3日">&nbsp;3日</option>
                                            <option value="4日">&nbsp;4日</option>
                                            <option value="5日">&nbsp;5日</option>
                                            <option value="6日">&nbsp;6日</option>
                                            <option value="7日">&nbsp;7日</option>
                                            <option value="8日">&nbsp;8日</option>
                                            <option value="9日">&nbsp;9日</option>
                                            <option value="10日">&nbsp;10日</option>
                                            <option value="11日">&nbsp;11日</option>
                                            <option value="12日">&nbsp;12日</option>
                                            <option value="13日">&nbsp;13日</option>
                                            <option value="14日">&nbsp;14日</option>
                                            <option value="15日">&nbsp;15日</option>
                                            <option value="16日">&nbsp;16日</option>
                                            <option value="17日">&nbsp;17日</option>
                                            <option value="18日">&nbsp;18日</option>
                                            <option value="19日">&nbsp;19日</option>
                                            <option value="20日">&nbsp;20日</option>
                                            <option value="21日">&nbsp;21日</option>
                                            <option value="22日">&nbsp;22日</option>
                                            <option value="23日">&nbsp;23日</option>
                                            <option value="24日">&nbsp;24日</option>
                                            <option value="25日">&nbsp;25日</option>
                                            <option value="26日">&nbsp;26日</option>
                                            <option value="27日">&nbsp;27日</option>
                                            <option value="28日">&nbsp;28日</option>
                                            <option value="29日">&nbsp;29日</option>
                                            <option value="30日">&nbsp;30日</option>
                                            <option value="31日">&nbsp;31日</option>
                                        </select>
                                    </div>
                                    <div class="constellation_m col-md-2">
                                        <select class="" name="constellation_m">
                                            <option value="白羊座">&nbsp;白羊座</option>
                                            <option value="金牛座">&nbsp;金牛座</option>
                                            <option value="双子座">&nbsp;双子座</option>
                                            <option value="巨蟹座">&nbsp;巨蟹座</option>
                                            <option value="狮子座">&nbsp;狮子座</option>
                                            <option value="处女座">&nbsp;处女座</option>
                                            <option value="天秤座">&nbsp;天秤座</option>
                                            <option value="天蝎座">&nbsp;天蝎座</option>
                                            <option value="射手座">&nbsp;射手座</option>
                                            <option value="魔蝎座">&nbsp;魔蝎座</option>
                                            <option value="水瓶座">&nbsp;水瓶座</option>
                                            <option value="双鱼座">&nbsp;双鱼座</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="female row" style="margin-top: 10px">
                                    <div class="sex_women col-md-1">女生</div>
                                    <div class="surname_f col-md-3">
                                        <input type="text" class="" placeholder="姓氏"
                                            name="surname_f" required="required">
                                        <input type="text" class="" placeholder="名字"
                                            name="person_name_f" required="required">
                                    </div>
                                    <div class="zodiac_f col-md-2">
                                        <select class="" name="zodiac_f">
                                            <option value="属鼠">&nbsp;属鼠</option>
                                            <option value="属牛">&nbsp;属牛</option>
                                            <option value="属虎">&nbsp;属虎</option>
                                            <option value="属兔">&nbsp;属兔</option>
                                            <option value="属龙">&nbsp;属龙</option>
                                            <option value="属蛇">&nbsp;属蛇</option>
                                            <option value="属马">&nbsp;属马</option>
                                            <option value="属羊">&nbsp;属羊</option>
                                            <option value="属猴">&nbsp;属猴</option>
                                            <option value="属鸡">&nbsp;属鸡</option>
                                            <option value="属狗">&nbsp;属狗</option>
                                            <option value="属猪">&nbsp;属猪</option>
                                        </select>
                                    </div>
                                    <div class="month_f col-md-3">
                                        <select class="" name="month_f">
                                            <option value="1月">&nbsp;1月</option>
                                            <option value="2月">&nbsp;2月</option>
                                            <option value="3月">&nbsp;3月</option>
                                            <option value="4月">&nbsp;4月</option>
                                            <option value="5月">&nbsp;5月</option>
                                            <option value="6月">&nbsp;6月</option>
                                            <option value="7月">&nbsp;7月</option>
                                            <option value="8月">&nbsp;8月</option>
                                            <option value="9月">&nbsp;9月</option>
                                            <option value="10月">&nbsp;10月</option>
                                            <option value="11月">&nbsp;11月</option>
                                            <option value="12月">&nbsp;12月</option>
                                        </select>
                                        <select name="day_f">
                                            <option value="1日">&nbsp;1日</option>
                                            <option value="2日">&nbsp;2日</option>
                                            <option value="3日">&nbsp;3日</option>
                                            <option value="4日">&nbsp;4日</option>
                                            <option value="5日">&nbsp;5日</option>
                                            <option value="6日">&nbsp;6日</option>
                                            <option value="7日">&nbsp;7日</option>
                                            <option value="8日">&nbsp;8日</option>
                                            <option value="9日">&nbsp;9日</option>
                                            <option value="10日">&nbsp;10日</option>
                                            <option value="11日">&nbsp;11日</option>
                                            <option value="12日">&nbsp;12日</option>
                                            <option value="13日">&nbsp;13日</option>
                                            <option value="14日">&nbsp;14日</option>
                                            <option value="15日">&nbsp;15日</option>
                                            <option value="16日">&nbsp;16日</option>
                                            <option value="17日">&nbsp;17日</option>
                                            <option value="18日">&nbsp;18日</option>
                                            <option value="19日">&nbsp;19日</option>
                                            <option value="20日">&nbsp;20日</option>
                                            <option value="21日">&nbsp;21日</option>
                                            <option value="22日">&nbsp;22日</option>
                                            <option value="23日">&nbsp;23日</option>
                                            <option value="24日">&nbsp;24日</option>
                                            <option value="25日">&nbsp;25日</option>
                                            <option value="26日">&nbsp;26日</option>
                                            <option value="27日">&nbsp;27日</option>
                                            <option value="28日">&nbsp;28日</option>
                                            <option value="29日">&nbsp;29日</option>
                                            <option value="30日">&nbsp;30日</option>
                                            <option value="31日">&nbsp;31日</option>
                                        </select>
                                    </div>
                                    <div class="constellation_f col-md-2">
                                        <select class="" name="constellation_f">
                                            <option value="白羊座">&nbsp;白羊座</option>
                                            <option value="金牛座">&nbsp;金牛座</option>
                                            <option value="双子座">&nbsp;双子座</option>
                                            <option value="巨蟹座">&nbsp;巨蟹座</option>
                                            <option value="狮子座">&nbsp;狮子座</option>
                                            <option value="处女座">&nbsp;处女座</option>
                                            <option value="天秤座">&nbsp;天秤座</option>
                                            <option value="天蝎座">&nbsp;天蝎座</option>
                                            <option value="射手座">&nbsp;射手座</option>
                                            <option value="魔蝎座">&nbsp;魔蝎座</option>
                                            <option value="水瓶座">&nbsp;水瓶座</option>
                                            <option value="双鱼座">&nbsp;双鱼座</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="start_test">
                                    <input name="" type="submit" value="开始测试" style="background: orange;margin: 10px">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="res col-md-10">
                        <br>
                        <div class="res_header" style="text-align: center">
                            <p style="text-align: center">您的测试结果如下：</p>
                            <p><span style="float: right"><button class="btn btn-warning">打印结果</button></span></p>
                        </div>
                        <br>
                        <div style="text-align: left; margin: 10px; padding-left: 50px">
                            <p>配对双方： 白羊男 VS 白羊女 </p>
                        </div>
                        <br>
                        <p style="font-weight: bold; text-align: left; padding-left: 50px; margin: 10px"> 配对指数： </p>
                        <div class="container">
                            <div class="row">
                                <div class="friendly_score col-md-5">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;友情指数：★★★
                                </div>
                                <div class="love_score col-md-5">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;爱情指数：★★★★
                                </div>
                            </div>
                            <div class="row">
                                <div class="marriage_score col-md-5">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;婚姻指数：★★★
                                </div>
                                <div class="family_score col-md-5">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;亲情指数：★★★★
                                </div>
                            </div>
                            <div class="content col-md-12">
                                <br>
                                <br>
                                <h3>关于爱情：</h3>
                                <br>
                                <br>
                                <p>
                                    两个一模一样的白羊座在一起，必然是爆炸性的组合。 两人会很快被对方相同的行为态度吸引在一起。他们不会转弯抹角，而是直接表达出自己的爱意，马上进入热恋的阶段。不过他们过于相同的思想行为，相处久后会逐渐无法容忍对方的缺点，加上自私和不服输的性格，在没完没了的争吵中，对对方的爱意会变成讨厌甚至仇恨。另外，一旦两个人成为夫妻，一定要在理财计划上好好处理，否则入不敷出。 性生活方面，充满活力的两人配合度相当高。只是太着重性生活而忽略心灵上的沟通也是他们之间的大问题。
                                </p>
                                <br>
                                <br>
                                <h3>关于亲情：</h3>
                                <br>
                                <br>
                                <p>
                                    亲情上白羊男跟白羊女也是非常的合拍的。不像其他家庭，一个人想要做什么事情，其他人会一直阻碍，或是完全不支持。白羊男跟白羊女在一起就一点这样的问题都没有，每次都是全力支持对方。因为他们太了解彼此了，对方想要做什么事的话，那是十头牛都拉不回来的。既然如此，为什么不给予提供一点支持，让对方可以毫无遗憾呢。
                                </p>
                                <br>
                                <br>
                                <h3>关于友情: </h3>
                                <br>
                                <br>
                                <p>
                                    友情上白羊男跟白羊女一直都是别人羡慕的那种好哥们，好姐们。虽然两个人关系很好，彼此走得很亲近，但是没有人怀疑过他们的关系，因为他们一直就都是坦坦荡荡的那种。开玩笑也都是当着大家的面，从不会让人尴尬的。所以朋友或许一开始还会怀疑他们是不是有暧昧，但是最后也会十分确定，这两个人就是真的好朋友而已。
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="footer"></div>
          </div>
        </div>
    </div>
</body>

</html>